<h2>People Tracker</h2>

<a href="https://github.com/payne/ember-quickstart">https://github.com/payne/ember-quickstart</a>

{{outlet}}

<ul>
  <li>{{#link-to "scientists"}}the scientists{{/link-to}}</li>
</ul>
